!*.*
.idea/
cmake-build-debug/
.vscode/
*.exe
*.obj
*.bin
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.o
*.xpr
*.gen/
simtest/
ip/
*.zip
*.out
build/
.metals/
build*/
bin/
opt/
rootfs/
_build/
discopy-main/
Python/
uboot*/
